
body {
  background-image: url(imagenes/image.png);
  background-image: url('imagenes/planeta.jpg');
    font-family: Arial, sans-serif;
    margin-left: 75px;
    color: #3e363f;
    padding-top: 5px;
  }
  nav{ 
    text-align: center;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  }
  .menu-item{
    text-decoration: none;
    color: #000000;
    margin: 20px;
  }
  .contacto ul li a {
    color: rgb(252, 252, 252);
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-decoration: none;
    
  }
  .contacto h2{
    color: #fff;
  }
  .sociales ul li a{
    color: blanchedalmond;
  }
  .Párrafo{
    color: #fff;

  }
  .sociales{
    color: aqua;
  }
  footer{
    color: #ee931d;
  }
  